/* Set box-sizing globally for consistency */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
}

.app-container {
    display: flex;
    width: 80vw;
    min-height: 90vh;
    height: auto; /* Allow natural height */
}

.scale-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50px;
    background-color: #eaeaea;
    padding: 5px 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1; /* Allow to grow with the content */
}

.time-label {
    font-size: 0.8em;
    padding: 10px 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: 100%;
    gap: 1px;
    background-color: #ccc;
    flex-grow: 1; /* Allow to grow with the content */
}

.day-column {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.day-header {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 5px 0;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.interval-line {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    height: 40px; /* Static height for intervals */
}

.time-block {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 123, 255, 0.7);
    border: 1px solid #007bff;
    border-radius: 4px;
    z-index: 1;
    transition: transform 0.2s ease-in-out;
}

.time-block:hover {
    transform: scale(1.02);
}

.bin-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8); /* Light background */
    color: #007bff;
    cursor: pointer;
    display: none;
    font-size: 1em;
    border-radius: 4px; /* Rounded corners */
    padding: 4px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.time-block:hover .bin-icon {
    display: block;
    background-color: rgba(255, 255, 255, 0.9); /* Slightly darker on hover */
    color: #0056b3; /* Darker blue on hover */
}

.time-block.overlap {
    background-color: rgba(255, 123, 0, 0.7);
    margin-left: 5px;
}

.time-indicator {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2px 4px;
    font-size: 0.7em;
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
}

@media (max-width: 768px) {
    .app-container {
        width: 95vw;
    }

    .scale-column {
        width: 40px;
    }

    .time-label {
        font-size: 0.7em;
    }

    .day-header {
        font-size: 0.9em;
    }
}
