:root {
    --font-family: Arial, sans-serif;
    --primary-color: #007bff;
    --secondary-color: #eaeaea;
    --hover-color: #0056b3;
    --background-color: #f4f4f9;
    --light-background: rgba(255, 255, 255, 0.8);
    --light-background-hover: rgba(255, 255, 255, 0.5);
    --alert-color: rgba(255, 123, 0, 0.7);
    --interval-height: 40px;
    --header-height: 30px;
    --font-size-small: 0.8em;
    --font-size-small-mobile: 0.7em;
    --font-size-header-mobile: 0.9em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.app-container {
    display: flex;
    width: 100vw;
    height: auto;
}

.sidebar {
    position: relative;
    min-width: 200px;
    width: 20vw;
    background-color: var(--secondary-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    padding-top: 0;

}

.toggle-all-container {
    margin-bottom: 0.5rem; /* Space between the button and the list */
    height: 1.5rem; /* Set a fixed height to prevent layout shift */
    text-align: right;
}
.toggle-all {
    display: inline-block;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    opacity: var(--show-button-opacity, 0);
    transition: opacity 0.3s ease-in-out;
    pointer-events: var(--show-button-opacity) == 0 ? 'none' : 'auto';
}
.toggle-all:hover {
    color: var(--hover-color);
}

.context-menu {
    position: absolute;
    background-color: #f0f0f0; /* Grey background */
    border: 1px solid #ccc;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    border-radius: 8px; /* Rounded corners */
    transform-origin: top left; /* Animate from the top-left corner */
    animation: expandFromPoint 100ms forwards; /* Expand from a single point */
}
@keyframes expandFromPoint {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.context-menu button {
    background: none;
    border: none;
    color: #555; /* Darker grey for the text */
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    gap: 8px; /* Space between icon and text */
}
.context-menu button:hover {
    background-color: #e0e0e0; /* Slightly darker grey on hover */
    border-radius: 4px;
}
.context-menu .bin-lid {
    transform-origin: 50px 18px; /* Set origin to the right edge of the lid */
    transition: transform 0.3s ease;
}
.context-menu button:hover .bin-lid {
    transform: rotate(30deg); /* Rotate the lid to 'open' it from the right */
}
.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 101;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
.confirmation-dialog button {
    margin: 0.5rem;
    cursor: pointer;
}
.confirmation-dialog p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;
    transition: color 0.3s, background-color 0.3s;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
    overflow: hidden;
}

.color-square {
    width: 16px;
    height: 16px;
    transition: width 0.3s ease, height 0.3s ease, left 0.3s ease, background-color 0.3s ease;
    border-radius: 4px;
    margin-left: auto;
    z-index: 0;
    position: absolute;
    right: 0;
}

.schedule-item.selected .color-square {
    width: 100%;
    height: 100%;
    left: 0;
}

.schedule-item.selected {
    color: white;
}

input[type="checkbox"] {
    margin-right: 0.5rem;
    z-index: 1;
}

button {
    z-index: 1;
    margin-left: 0.5rem;
    flex-grow: 1;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-schedule {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.add-schedule input {
    flex-grow: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-schedule button {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-schedule button svg {
    fill: white;
}

.add-schedule button:hover {
    background-color: var(--hover-color);
}

.scale-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    background-color: var(--secondary-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.time-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--interval-height);
    font-size: var(--font-size-small);
    transform: translateY(-50%);
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: calc(100% - 10vw - 50px);
    gap: 1px;
    background-color: #ccc;
}

.day-column {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.time-header,
.day-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    height: var(--header-height);
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.interval-line {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    height: var(--interval-height);
}

.time-block {
    position: absolute;
    left: 0;
    right: 0;
    background-color: rgba(0, 123, 255, 0.7);
    border: 1px solid transparent; /* Default border color for transition */
    border-radius: 4px;
    z-index: 1;
    transition:
        height 0.05s ease-out,
        top 0.05s ease-out,
        transform 0.2s ease-in-out,
        border-color 0.3s ease-in-out; /* Include border-color transition */
}

.time-block.stretching {
    transform: scaleY(1.05) scaleX(0.98);
}

.time-block.bouncing {
    animation: elastic 0.8s ease-out forwards;
}

@keyframes elastic {
    0% {
        transform: scaleY(1.05) scaleX(0.98);
    }
    30% {
        transform: scaleY(0.95) scaleX(1.02);
    }
    60% {
        transform: scaleY(1.02) scaleX(0.99);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}

.time-block:hover {
    transform: scale(1.02);
}

.bin-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color: var(--light-background);
    color: var(--primary-color);
    cursor: pointer;
    display: none;
    font-size: 1em;
    border-radius: 4px;
    padding: 4px;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
}

.time-block:hover .bin-icon {
    display: block;
    background-color: var(--light-background-hover);
    color: var(--hover-color);
}

.bin-lid {
    transform-origin: 50px 18px; /* Set origin to the right edge of the lid */
    transition: transform 0.3s ease;
}

.bin-icon:hover .bin-lid {
    transform: rotate(30deg); /* Rotate the lid to 'open' it from the right */
}

.time-block.overlap {
    background-color: var(--alert-color);
    margin-left: 5px;
}

.time-indicator {
    background-color: var(--light-background);
    padding: 2px 4px;
    font-size: var(--font-size-small);
    border-radius: 4px;
    white-space: nowrap;
    text-align: center;
}

@media (max-width: 768px) {
    .app-container {
        width: 100vw;
    }
    .sidebar {
        width: 20vw;
    }
    .scale-column {
        width: 40px;
    }
    .time-label {
        font-size: var(--font-size-small-mobile);
    }

    .day-header {
        font-size: var(--font-size-header-mobile);
    }
}