:root {
    --font-family: Arial, sans-serif;
    --primary-color: #007bff;
    --secondary-color: #eaeaea;
    --hover-color: #0056b3;
    --background-color: #f4f4f9;
    --light-background: rgba(255, 255, 255, 0.8);
    --light-background-hover: rgba(255, 255, 255, 0.5);
    --alert-color: rgba(255, 123, 0, 0.7);
    --interval-height: 40px;
    --header-height: 30px;
    --font-size-small: 0.8em;
    --font-size-small-mobile: 0.7em;
    --font-size-header-mobile: 0.9em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.app-container {
    display: flex;
    width: 100vw;
    height: auto;
}

.sidebar {
    position: relative;
    min-width: 236px;
    width: 20vw;
    background-color: var(--secondary-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    padding-top: 0;
}

.toggle-all-container {
    margin-bottom: 0.5rem;
    height: 1.5rem;
    text-align: right;
}
.toggle-all {
    display: inline-block;
    background: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
    opacity: var(--show-button-opacity, 0);
    transition: opacity 0.3s ease-in-out;
}
.toggle-all:hover {
    color: var(--hover-color);
}

.context-menu {
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    z-index: 100;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 0.5rem;
    border-radius: 8px;
    transform-origin: top left;
    animation: expandFromPoint 100ms forwards;
}
@keyframes expandFromPoint {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}
.context-menu button {
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0.25rem 0;
    gap: 8px;
}
.context-menu button:hover {
    background-color: #e0e0e0;
    border-radius: 4px;
}
.context-menu .bin-lid {
    transform-origin: 50px 18px;
    transition: transform 0.3s ease;
}
.context-menu button:hover .bin-lid {
    transform: rotate(30deg);
}
.confirmation-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 101;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}
.confirmation-dialog button {
    margin: 0.5rem;
    cursor: pointer;
}
.confirmation-dialog p {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    position: relative;
    transition:
        color 0.3s,
        background-color 0.3s;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 4px;
}

.color-square {
    width: 16px;
    height: 16px;
    transition:
        width 0.3s ease,
        height 0.3s ease,
        background-color 0.3s ease,
        border-radius 0.3s ease,
        transform 0.3s ease,
        border-color 0.1s ease;
    border-radius: 4px;
    margin-left: auto;
    z-index: 1;
    position: absolute;
    right: 0;
    transform-origin: center;
}

.color-square.expanded {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    z-index: 9999;
    position: absolute;
    right: 0;
    transform: translateX(42px);
}

.schedule-item.selected .color-square {
    width: 100%;
    height: 100%;
    left: 0;
}

.schedule-item.selected {
    color: white;
}

input[type='checkbox'] {
    margin-right: 0.5rem;
    z-index: 10;
}

button {
    z-index: 1;
    margin-left: 0.5rem;
    flex-grow: 1;
    text-align: left;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.add-schedule {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

.add-schedule input {
    flex-grow: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.add-schedule button {
    background-color: var(--primary-color);
    border: none;
    padding: 0.5rem;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-schedule button svg {
    fill: white;
}

.add-schedule button:hover {
    background-color: var(--hover-color);
}

.scale-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    background-color: var(--secondary-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.time-label {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--interval-height);
    font-size: var(--font-size-small);
    transform: translateY(-50%);
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    width: calc(100% - 10vw - 50px);
    gap: 1px;
    background-color: #ccc;
}

.day-column {
    background-color: white;
    position: relative;
    display: flex;
    flex-direction: column;
}

.time-header,
.day-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
    height: var(--header-height);
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

.interval-line {
    border-top: 1px solid #e0e0e0;
    width: 100%;
    height: var(--interval-height);
}

.time-block-wrapper {
    position: absolute;
    padding: 10px; /* This creates the 10px gutter */
    z-index: 1; /* Ensure it sits above other elements as needed */
    overflow: visible; /* Ensure the gutters are visible */
}
.time-block {
    position: relative;
    background-color: rgba(0, 123, 255, 0.7);
    border: 1px solid transparent;
    border-radius: 4px;
    z-index: 1;
    transform: scale(1) translate(0, 0);
    transition:
        height 0.05s ease-out,
        top 0.05s ease-out,
        transform 0.2s ease-in-out,
        width 0.2s ease-in-out,
        border-color 0.3s ease-in-out,
        background-color 0.3s ease,
        min-height 0.1s ease-in-out;
    min-height: 0px;
    width: 100%;
    height: 100%;
}
.time-block-wrapper:hover .time-block {
    width: calc(100% + 4px);
    transform: translate(-2px, -2px);
    z-index: 9999 !important;
}

.time-block-wrapper:hover .time-block,
.time-block.dragging {
    min-height: 24px;
}

.padlock-icon,
.note-icon,
.bin-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:
        background-color 0.2s ease-in-out,
        color 0.2s ease-in-out;
    opacity: 0;
}
.time-block:hover .padlock-icon,
.time-block:hover .note-icon,
.time-block:hover .bin-icon {
    opacity: 1;
}
.padlock-icon.unlocked {
    cursor: auto;
}
.padlock-icon.hidden {
    animation: hideLock 0s forwards;
}
.padlock-icon.unlocked.fadeout {
    animation: hideLock 1.5s forwards;
}
.padlock-icon:hover,
.bin-icon:hover {
    background-color: var(--light-background-hover);
    color: var(--hover-color);
}
.bin-lid {
    transform-origin: 50px 18px;
    transition: transform 0.3s ease;
}
.bin-icon:hover .bin-lid {
    transform: rotate(30deg);
}

.time-block .padlock-icon.unlocked .padlock-latch {
    animation: openLatch 0.8s forwards;
    cursor: auto;
}
@keyframes openLatch {
    0% {
        transform: translateY(0) rotateY(0deg);
        transform-origin: 30px 40px;
    }
    40% {
        transform: translateY(-8px) rotateY(0deg);
        transform-origin: 30px 40px;
    }
    100% {
        transform: translateY(-8px) rotateY(-180deg);
        transform-origin: 30px 40px;
    }
}
@keyframes hideLock {
    0% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.time-block.stretching {
    /* Adjust to align with hover effect */
    transform: scaleY(1.05) scaleX(0.98);
}
.time-block.bouncing {
    /* Adjust to align with hover effect */
    animation: elastic 0.8s ease-out forwards;
}
.time-block:hover.bouncing {
    /* Adjust to align with hover effect */
    animation: elasticAdjusted 0.8s ease-out forwards;
    transform: translate(-2px, -2px);
}
@keyframes elastic {
    0% {
        transform: scaleY(1.05) scaleX(0.98);
    }
    30% {
        transform: scaleY(0.95) scaleX(1.02);
    }
    60% {
        transform: scaleY(1.02) scaleX(0.99);
    }
    100% {
        transform: scaleY(1) scaleX(1);
    }
}
@keyframes elasticAdjusted {
    0% {
        transform: translate(-2px, -2px) scaleY(1.05) scaleX(0.98);
    }
    30% {
        transform: translate(-2px, -2px) scaleY(0.95) scaleX(1.02);
    }
    60% {
        transform: translate(-2px, -2px) scaleY(1.02) scaleX(0.99);
    }
    100% {
        transform: translate(-2px, -2px) scaleY(1) scaleX(1);
    }
}

.time-indicator {
    position: absolute;
    bottom: 0; /* Align at the bottom */
    left: 0; /* Align at the left */
    font-size: 10px; /* Set font size */
    padding: 4px 8px;
    border-top: 1px solid; /* Border without color */
    border-right: 1px solid; /* Border without color */
    border-top-right-radius: 4px; /* Rounded top-right corner */
    white-space: nowrap;
    text-align: center;
    /* Remove specific shadow color */
}

.time-block.overlap {
    background-color: var(--alert-color);
    margin-left: 5px;
}

.mechanical-pencil {
    transition: transform 0.3s ease-in-out;
    transform: rotate(40deg); /* Rotate for diagonal alignment */
}

.eraser,
.tip {
    transition: transform 0.2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.note-icon:hover .eraser {
    transform: translateY(4px); /* Eraser presses down */
}

.note-icon:hover .tip {
    transform: translateY(3px); /* Tip extends out */
}
@media (max-width: 768px) {
    .app-container {
        width: 100vw;
    }
    .sidebar {
        width: 20vw;
    }
    .scale-column {
        width: 40px;
    }
    .time-label {
        font-size: var(--font-size-small-mobile);
    }

    .day-header {
        font-size: var(--font-size-header-mobile);
    }
}
